nav{
    background-color: black;
}
ul{
    list-style: none;

}
.navBar{
    display: flex;
    
}
.navBar li{
    padding-left:8%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.direccion{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 13px;

}

.direccion:hover{
    background-color: aqua;
    color: black;
}

#barraDeBusqueda{
    padding-right: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}



